@model casa_emelita.Models.AppModel
@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_Home.cshtml";
}

<!-- breadcam_area_start -->
<div class="breadcam_area breadcam_bg_1 zigzag_bg_2">
    <div class="breadcam_inner">
        <div class="breadcam_text">
            <h3>Our Menu and Packages</h3>
            <p></p>
        </div>
    </div>
</div>
<!-- breadcam_area_end -->
<!-- order_area_start -->
<div class="order_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title mb-70">
                    <h3>Our Menu</h3>

                </div>

            </div>
        </div>
        @using (Html.BeginForm("Menu", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @id = "categoryForm", @name = "categoryForm", @class = "row", style = "margin-bottom:20px;" }))
        {
            <div class="col-sm-6" style="display:inline-block">
                @Html.DropDownListFor(model => model.SelectedCategory, new SelectList(Model.Category, "CATEGORYID", "CATEGORYNAME"), "Select Category..", new { @class = "form-control", @id = "Category", @required = "" })
            </div>
            <div class="col-sm-6" style="display:inline-block">
                <button class="btn btn-success" type="submit" style="color:white;cursor:pointer;">Search</button>
            </div>
        }
        <div class="row">

            @foreach (casa_emelita.Models.TBL_MENU menu in Model.Menu_List)
            {
                <div class="col-xl-4 col-md-6">
                    <div class="single_order">
                        <div class="order_thumb">
                            <img src="~/UploadedImage/@(menu.MENUIMAGE)" alt="">
                            <div class="order_prise">
                                <span> @(menu.PRICE.ToString("#,###.##"))</span>
                            </div>
                        </div>
                        <div class="order_info">
                            <h3><a href="#">@(menu.MENUCODE)</a></h3>
                            <p>@(menu.MENUDESCRIPTION)
                            <p>
                                @(menu.TBL_CATEGORY.CATEGORYNAME)
                            </p>
                            <a id="btn_add_to_cart" style="cursor:pointer;" data-toggle="modal" data-target="#orderingModal"
                               data-menu_code="@(menu.MENUCODE)"
                               data-menu_id="@(menu.MENUID)"
                               data-menu_image="../UploadedImage/@(menu.MENUIMAGE)"
                               data-menu_price="₱ @(menu.PRICE.ToString("#,###.##"))"
                               data-menu_description="@(menu.MENUDESCRIPTION)"
                               data-menu_category="@(menu.TBL_CATEGORY.CATEGORYNAME)"
                               class="boxed_btn">Add to cart</a>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="row">
            <div class="col-xl-12">
                <div class="section_title mb-70">
                    <h3>Our Packages</h3>

                </div>
            </div>
        </div>
        @using (Html.BeginForm("Menu", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @id = "eventForm", @name = "eventForm", @class = "row", style = "margin-bottom:20px;" }))
        {
            <div class="col-sm-6" style="display:inline-block">
                @Html.DropDownListFor(model => model.SelectedEvent, new SelectList(Model.EventType_List, "EVENTTYPEID", "EVENTNAME"), "Select Event Type..", new { @class = "form-control", @id = "EventType", @required = "" })
            </div>
            <div class="col-sm-6" style="display:inline-block">
                <button class="btn btn-success" type="submit" style="color:white;cursor:pointer;">Search</button>
            </div>
        }

        <div class="row">
            @foreach (casa_emelita.Models.TBL_PACKAGE package in Model.Package_List)
            {
                <div class="col-xl-4 col-md-6">
                    <div class="single_order">
                        <div class="order_thumb">
                            <img src="~/Content/Casa/image/logo.png" alt="">
                            <div class="order_prise">
                                <span>@(package.PRICE.ToString("#,###.##"))</span>
                            </div>
                        </div>
                        <div class="order_info">
                            <h3><a href="#">@(package.PACKAGECODE)</a></h3>
                            <h4>@package.TBL_EVENTTYPE.EVENTNAME</h4>
                            <h5>Inclusions:</h5>
                            <p>@package.INCLUSIONSDESCRIPTION</p>
                            <p>
                                Good for @package.ACCOMODATION pax
                            </p>
                            <a id="btn_book" style="cursor:pointer;" data-toggle="modal" data-target="#bookingModal" class="boxed_btn"
                               data-package_code="@package.PACKAGECODE"
                               data-package_id="@package.PACKAGEID"
                               data-event_type="@package.TBL_EVENTTYPE.EVENTNAME"
                               data-inclusions="@package.INCLUSIONSDESCRIPTION"
                               data-pax="@package.ACCOMODATION"
                               data-price="₱ @package.PRICE.ToString("#,###.##")"
                               data-price_value="@package.PRICE">Book Now!</a>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
<script>
    $(document).on("click", "#btn_book", function () {
        selectedPackageCode = $(this).data('package_id');
        document.getElementById("Modal_PACKAGEID").value = selectedPackageCode;
        document.getElementById("package_code").innerText = $(this).data('package_code');
        document.getElementById("event_type").innerText = $(this).data('event_type');
        document.getElementById("inclusions").innerText = $(this).data('inclusions');
        document.getElementById("price").innerText = $(this).data('price');
        document.getElementById("pax").innerText = "Good for  " + $(this).data('pax') + "pax";

        //packageCode = selectedPackageCode;
        //eventType = $(this).data('event_type');
        //inclusions = $(this).data('inclusions');
        //pax = $(this).data('pax');
        //price = $(this).data('price_value');

        fetchPackageMenu(selectedPackageCode);
    });
    function fetchPackageMenu(packageCode) {
        $('#tbl_menu_included').DataTable().destroy();

        var dataTable1 = $('#tbl_menu_included').DataTable({

            "sDom": '<"row view-filter"<"col-sm-12"<"pull-left"l>f<"pull-right"><"clearfix">>>t<"row view-pager"<"col-sm-12"<"text-center"ip>>>',
            "processing": true,
            "bStateSave": true, //stay on this page
            "responsive": true,
            "order": [],
            "drawCallback": function (settings) {
                //console.log(settings.json);
            },
            "ajax": {
                url: "@Url.Action("GetInludedMenu", "Home")",
                type: "GET",
                data: { PackageID: packageCode },
                "dataSrc": ""
            },
            "columns": [
                { "data": "MENUIMAGE", "orderable": false },
                { "data": "MENUCODE"},
                { "data": "MENUNAME"},
                { "data": "MENUCATEGORY" },
                { "data": "MENUDESCRIPTION" }
            ],
            "columnDefs": [
                {
                    "targets": 0,
                    "render": function (data, type, row, meta) {
                        return '<center><img src="../UploadedImage/' + data + '" alt="Image" width="50" height="50"></center>';
                    }
                },
            ],
            "autoWidth": false
        });
    }
    $(document).on("click", "#btn_add_to_cart", function () {
        document.getElementById("Modal_MENUID").value = $(this).data('menu_id');
        document.getElementById("menu_code").innerText = $(this).data('menu_code');
        document.getElementById("menu_type").innerText = $(this).data('menu_category');
        document.getElementById("menu_description").innerText = $(this).data('menu_description');
        document.getElementById("itemprice").innerText = $(this).data('menu_price');
        document.getElementById("Order_Menu_Image").src = $(this).data('menu_image');
    });
    $(document).on("click", "#btn_submit_order", function () {
        var OrderQTY = document.getElementById("order_qty").value.trim();
        var OrderMenuID = document.getElementById("Modal_MENUID").value;
        var OrderNote = document.getElementById("order_note").value;

        if (OrderQTY == '') {
            swal({
                title: "Warning!",
                text: "Please enter quantity",
                type: "error"
            });
            return;
        }

        swal({
            title: "Continue?",
            text: "Do you want to continue adding to cart?",
            type: "question",
            showCancelButton: true,
            confirmButtonColor: "#5cb85c",
            cancelButtonColor: "#d9534f",
            confirmButtonText: 'Confirm',
            confirmButtonClass: "btn"
        }).then((result) => {
            if (result.value) {

                $.ajax({
                    url: "@Url.Action("AddOrder", "Home")",
                    type: "POST",
                    data: { OrderQTY: OrderQTY, OrderMenuID: OrderMenuID, OrderNote: OrderNote },
                    success: function (data) {
                        console.log(data);
                        if (!data.success) {
                            alert("An error occurred while saving data.")
                        }
                        else {
                            document.getElementById("NumberOfOrders").innerText = data.count;
                            if (data.count > 0) {
                                document.getElementById("NumberOfOrders").style.display = "block";
                            }
                            document.getElementById("Modal_MENUID").value = 0;
                            document.getElementById("order_note").value = "";
                            $('#orderingModal').modal('hide');
                        }
                    },
                    error: function () {
                        alert("An error occurred while fetching data.");
                    }
                });

            }
        }); // end swal
    });
</script>
<div class="modal fade" id="orderingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            @using (Html.BeginForm("NewOrder", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @id = "NewOrder", @name = "NewOrder" }))
            {
                <div class="modal-header">
                    <h5 class="modal-title" id="OrderingModalLabel">Order details</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="row m-3">
                        <div class="col-sm-6">
                            <div class="single_order">
                                <div class="order_info">
                                    <h3 id="menu_code">Package code</h3>
                                    <h4 id="menu_type">Event type</h4>
                                    <h5>Description:</h5>
                                    <p id="menu_description"></p>
                                    <p id="itemprice">
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <img id="Order_Menu_Image" src="~/Content/Casa/image/logo.png" style="float:right;width:200px;margin-right:60px;">
                        </div>
                    </div>

                    <div class="row m-3">

                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.NewOrders.MENUID, new { @class = "single-input", @id = "Modal_MENUID", @name = "Modal_MENUID", @style = "display:none", @type = "text" })
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.NewOrders.QTY, new { @class = "form-control", @name = "order_qty", @id = "order_qty", @type = "number", @onfocus = "this.placeholder = ''", @onblur = "this.placeholder = 'Enter qty'", @placeholder = "Enter QTY", @required = "", @min = 0 })
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="form-group">
                                @Html.TextAreaFor(model => model.NewOrders.ORDERNOTE, new { @class = "form-control", @name = "order_note", @id = "order_note", @type = "text", @onfocus = "this.placeholder = ''", @onblur = "this.placeholder = 'Enter note'", @placeholder = "Note"})
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary" type="button" id="btn_submit_order">Add to cart</button>
                </div>
            }
        </div>
    </div>
</div>
<!-- order_area_end -->
<script>
    $(document).on("click", "#OrderCart", function () {
        var holdNumberOfOrders = parseInt(document.getElementById("NumberOfOrders").innerHTML.trim());
        if (holdNumberOfOrders == 0) {
            swal({
                title: "No Orders!",
                text: "Cart is empty",
                type: "error"
            });
            return;
        }
        $('#OrdersModal').modal('show');
        GetAllMenuInCart();
    });
    var tbl_Orders;
    function GetAllMenuInCart() {
        $('#tbl_Orders').DataTable().destroy();

        tbl_Orders = $('#tbl_Orders').DataTable({

            "sDom": '<"row view-filter"<"col-sm-12"<"pull-left"l>f<"pull-right"><"clearfix">>>t<"row view-pager"<"col-sm-12"<"text-center"ip>>>',
            "processing": true,
            "bStateSave": true, //stay on this page
            "responsive": true,
            "order": [],
            "drawCallback": function (settings) {
                //console.log(settings.json);
            },
            "ajax": {
                url: "@Url.Action("OrdersInCart", "Home")",
                type: "GET",
                "dataSrc": ""
            },
            "columns": [
                { "data": "MENUQTY"},
                { "data": "MENUIMAGE", "orderable": false },
                { "data": "MENUNAME"},
                { "data": "MENUCATEGORY" },
                { "data": "MENUDESCRIPTION" },
                { "data": "TOTALPRICE" }
            ],
            "columnDefs": [
                {
                    "targets": 0,
                    "render": function (data, type, row, meta) {
                        return '<center><a id="btn_Sub_Qty" style="color:white;" class="btn btn-danger" margin-bottom:5px;"="">-</a><div style="width:40px; display: inline-block"><b>' + data + '</b></div><a id="btn_Add_Qty" style="color:white;" class="btn btn-success" margin-bottom:5px;"="">+</a></center>';
                    }
                },
                {
                    "targets": 1,
                    "render": function (data, type, row, meta) {
                        return '<center><img src="../UploadedImage/' + data + '" alt="Image" width="50" height="50"></center>';
                    }
                },
            ],
            "autoWidth": false
        });
    }
    $(document).on("click", "#btn_Add_Qty", function () {
        var rowdata = tbl_Orders.row($(this).closest('tr')).data();
        var newQTY = parseInt(rowdata.MENUQTY) + 1;
        ModifyQTY(rowdata.MENUID, newQTY);

    });
    $(document).on("click", "#btn_Sub_Qty", function () {
        var rowdata = tbl_Orders.row($(this).closest('tr')).data();
        var newQTY = parseInt(rowdata.MENUQTY) - 1;
        ModifyQTY(rowdata.MENUID, newQTY);
    });
    function ModifyQTY(Menuid, QTY) {
        $.ajax({
            url: "@Url.Action("ModifyQty", "Home")",
            type: "POST",
            data: { MenuId: Menuid, NewQty: QTY },
            success: function (data) {
                if (!data.success) {
                    alert("An error occurred while saving data.")
                }
                else {
                    GetAllMenuInCart();
                }
            },
            error: function () {
                alert("An error occurred while fetching data.");
            }
        });
    }
</script>
<div class="modal fade" id="OrdersModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            @using (Html.BeginForm("NewOrder", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @id = "NewOrder", @name = "NewOrder" }))
            {
                <div class="modal-header">
                    <h5 class="modal-title" id="OrdersModalLabel">Orders</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-sm-6">

                        <div class="form-group">
                            @Html.TextBoxFor(model => model.NewOrderCustomerDetail.CUSTOMERNAME, new { @class = "form-control", @name = "customerName", @id = "customerName", @type = "text", @onfocus = "this.placeholder = ''", @onblur = "this.placeholder = 'Enter your name'", @placeholder = "Enter your name", @required = "" })
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.TextBoxFor(model => model.NewOrderCustomerDetail.CUSTOMEREMAIL, new { @class = "form-control", @name = "customerEmail", @id = "customerEmail", @type = "email", @onfocus = "this.placeholder = ''", @onblur = "this.placeholder = 'Enter your email address'", @placeholder = "Email", @required = "" })
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.TextBoxFor(model => model.NewOrderCustomerDetail.CUSTOMERCONTACTNUMVER, new { @class = "form-control", @name = "customerContact", @id = "customerContact", @type = "contact", @onfocus = "this.placeholder = ''", @onblur = "this.placeholder = 'Enter contact numberd'", @placeholder = "Enter contact number", @required = "" })
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.TextBoxFor(model => model.NewOrderCustomerDetail.CUSTOMERADDRESS, new { @class = "form-control", @name = "cusotmerAddress", @id = "cusotmerAddress", @type = "text", @onfocus = "this.placeholder = ''", @onblur = "this.placeholder = 'Enter address'", @placeholder = "Enter address", @required = "" })
                        </div>
                    </div>

                    <div class="row m-3">
                        <div class="col-sm-12">
                            <label>Orders</label>
                            <table class="table table-hover table-bordered table-striped" id="tbl_Orders">
                                <thead class="table-header">
                                    <tr>
                                        <th class="text-center">
                                            QTY
                                        </th>
                                        <th width="1%" class="text-center">
                                            Image
                                        </th>
                                        <th class="text-center">
                                            Name
                                        </th>
                                        <th class="text-center">
                                            Category
                                        </th>
                                        <th class="text-center">
                                            Description
                                        </th>
                                        <th class="text-center">
                                            Price
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    @*<div class="row m-3">
            <div class="col-sm-6">
                <div class="single_order">
                    <div class="order_info">
                        <h3 id="menu_code">Package code</h3>
                        <h4 id="menu_type">Event type</h4>
                        <h5>Description:</h5>
                        <p id="menu_description"></p>
                        <p id="itemprice">
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <img id="Order_Menu_Image" src="~/Content/Casa/image/logo.png" style="float:right;width:200px;margin-right:60px;">
            </div>
        </div>

        <div class="row m-3">

            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.NewOrders.MENUID, new { @class = "single-input", @id = "Modal_MENUID", @name = "Modal_MENUID", @style = "display:none", @type = "text" })
                <div class="form-group">
                    @Html.TextBoxFor(model => model.NewOrders.QTY, new { @class = "form-control", @name = "order_qty", @id = "order_qty", @type = "number", @onfocus = "this.placeholder = ''", @onblur = "this.placeholder = 'Enter qty'", @placeholder = "Enter QTY", @required = "", @min = 0 })
                </div>
            </div>
            <div class="col-sm-8">
                <div class="form-group">
                    @Html.TextAreaFor(model => model.NewOrders.ORDERNOTE, new { @class = "form-control", @name = "order_note", @id = "order_note", @type = "text", @onfocus = "this.placeholder = ''", @onblur = "this.placeholder = 'Enter note'", @placeholder = "Note" })
                </div>
            </div>
        </div>*@
                </div>

                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary" type="button" id="btn_submit_all_order">Submit Orders</button>
                </div>
            }
        </div>
    </div>
</div>
<div class="modal fade" id="bookingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            @using (Html.BeginForm("NewAppointment", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @id = "NewAppointmentForm", @name = "NewAppointmentForm" }))
            {
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Booking details</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="row m-3">
                        <div class="col-sm-6">
                            <div class="single_order">
                                <div class="order_info">
                                    <h3 id="package_code">Package code</h3>
                                    <h4 id="event_type">Event type</h4>
                                    <h5>Inclusions:</h5>
                                    <p id="inclusions"></p>
                                    <p id="pax">
                                        Good for 100 pax
                                    </p>
                                    <p id="price">
                                    </p>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <img src="~/Content/Casa/image/logo.png" style="float:right;width:200px;margin-right:60px;">
                        </div>
                    </div>

                    <div class="row m-3">
                        <div class="col-sm-12">
                            <label>Menu included in the package</label>
                            <table class="table table-hover table-bordered table-striped" id="tbl_menu_included">
                                <thead class="table-header">
                                    <tr>
                                        <th width="1%" class="text-center">
                                            Image
                                        </th>
                                        <th class="text-center">
                                            Menu code
                                        </th>
                                        <th class="text-center">
                                            Name
                                        </th>
                                        <th class="text-center">
                                            Category
                                        </th>
                                        <th class="text-center">
                                            Description
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>

                    <div class="row m-3">
                        <div class="col-sm-6">
                            @Html.TextBoxFor(model => model.Reservation.PACKAGEID, new { @class = "single-input", @id = "Modal_PACKAGEID", @name = "PACKAGEID", @style = "display:none", @type = "text" })
                            <label> Event Date: </label>
                            @Html.TextBoxFor(model => model.Reservation.EVENTDATE, new { @class = "form-control", @id = "reservation_date", @name = "EVENTDATE", @onkeydown = "return false", @type = "date", @onchange = "checkDate(this.value);", @required = "" })
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group" id="grp_slot" style="display:none;">
                                <label> Available Slots:</label><br>
                                @Html.RadioButtonFor(m => m.Reservation.SLOT, "09:00 am to 02:00 pm", new { @style = "display:none;", @id = "morning" })
                                <label style="display:none;" id="lbl_morning" for="morning">09:00 am to 02:00 pm</label><br>
                                @Html.RadioButtonFor(m => m.Reservation.SLOT, "03:00 pm to 08:00 pm", new { @style = "display:none;", @id = "afternoon" })
                                <label style="display:none;" id="lbl_afternoon" for="afternoon">03:00 pm to 08:00 pm</label><br>
                                @Html.RadioButtonFor(m => m.Reservation.SLOT, "Whole day", new { @style = "display:none;", @id = "whole_day" })
                                <label style="display:none;" id="lbl_wl" for="whole_day">Whole day</label>
                            </div>
                            <div class="form-group" id="wrng" style="display:none;">
                                <label class="genric-btn danger circle arrow" disabled>
                                    No available slot for your
                                    selected date!
                                </label>
                            </div>
                        </div>
                    </div>
                    <script>
                        $(document).ready(function () {
                            setMinDate();
                        });
                        function setMinDate() {
                            var dtToday = new Date();

                            var month = dtToday.getMonth() + 1;
                            var day = dtToday.getDate() + 1;
                            var year = dtToday.getFullYear();
                            if (month < 10)
                                month = '0' + month.toString();
                            if (day < 10)
                                day = '0' + day.toString();

                            var maxDate = year + '-' + month + '-' + day;


                            $('#reservation_date').attr('min', maxDate);
                            $('#appointment_date').attr('min', maxDate);
                        }
                        function checkDate(reservationDate) {
                            $.ajax({

                                url: "@Url.Action("GetAvailableSlots", "Home")",
                                type: "POST",
                                data: { reservationDate: reservationDate },
                                "dataSrc": "",

                                beforeSend: function () {

                                },
                                error: function (data) {

                                },
                                success: function (data) {
                                    document.getElementById("morning").checked = false;
                                    document.getElementById("afternoon").checked = false;
                                    document.getElementById("whole_day").checked = false;
                                    if (data.length == 0) {
                                        document.getElementById("wrng").style.display = '';
                                        document.getElementById("grp_slot").style.display = 'none';
                                        return;
                                    }
                                    document.getElementById("wrng").style.display = 'none';
                                    document.getElementById("grp_slot").style.display = '';

                                    document.getElementById("morning").style.display = 'none';
                                    document.getElementById("lbl_morning").style.display = 'none';

                                    document.getElementById("afternoon").style.display = 'none';
                                    document.getElementById("lbl_afternoon").style.display = 'none';

                                    document.getElementById("whole_day").style.display = 'none';
                                    document.getElementById("lbl_wl").style.display = 'none';

                                    data.forEach(function (currentValue, index, array) {
                                        if (currentValue == "09:00 am to 02:00 pm") {
                                            document.getElementById("morning").style.display = '';
                                            document.getElementById("lbl_morning").style.display = '';
                                        }
                                        else if (currentValue == "03:00 pm to 08:00 pm") {
                                            document.getElementById("afternoon").style.display = '';
                                            document.getElementById("lbl_afternoon").style.display = '';
                                        }
                                        else if (currentValue == "Whole day") {
                                            document.getElementById("whole_day").style.display = '';
                                            document.getElementById("lbl_wl").style.display = '';
                                        }
                                    })

                                    document.getElementById("appointment_date").value = '';
                                    $('#appointment_date').attr('max', document.getElementById("reservation_date").value);

                                }

                            });
                        }
                    </script>

                    <div class="row m-3">
                        <div class="col-sm-6">
                            <label> Personal Information: </label>
                        </div>
                    </div>


                    <div class="row m-3">

                        <div class="col-sm-6">

                            <div class="form-group">
                                @Html.TextBoxFor(model => model.Reservation.CUSTOMERNAME, new { @class = "form-control", @name = "name", @id = "c_name", @type = "text", @onfocus = "this.placeholder = ''", @onblur = "this.placeholder = 'Enter your name'", @placeholder = "Enter your name", @required = "" })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.Reservation.CUSTOMEREMAIL, new { @class = "form-control", @name = "email", @id = "c_email", @type = "email", @onfocus = "this.placeholder = ''", @onblur = "this.placeholder = 'Enter your email address'", @placeholder = "Email", @required = "" })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.Reservation.CUSTOMERCONTACTNUMVER, new { @class = "form-control", @name = "c_contact", @id = "c_contact", @type = "contact", @onfocus = "this.placeholder = ''", @onblur = "this.placeholder = 'Enter contact numberd'", @placeholder = "Enter contact number", @required = "" })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.Reservation.CUSTOMERADDRESS, new { @class = "form-control", @name = "c_address", @id = "c_address", @type = "text", @onfocus = "this.placeholder = ''", @onblur = "this.placeholder = 'Enter address'", @placeholder = "Enter address", @required = "" })
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label> Appointment Date: </label>
                                @Html.TextBoxFor(model => model.Reservation.APPOINTMENTDATE, new { @class = "form-control valid", @id = "appointment_date", @name = "EVENTDATE", @onkeydown = "return false", @type = "date", @required = "" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary" type="button" id="btn_submit">Submit</button>
                </div>
            }
            <script>
                $(document).on("click", "#btn_submit", function () {
                    var slot = $("input[type=radio]:checked").val();
                    var reservationDate = document.getElementById("reservation_date").value.trim();
                    var appointmentDate = document.getElementById("appointment_date").value.trim();
                    var customerEmail = document.getElementById("c_email").value.trim();
                    var customerName = document.getElementById("c_name").value.trim();
                    var customerContact = document.getElementById("c_contact").value.trim();
                    var customerAddress = document.getElementById("c_address").value.trim();

                    if (reservationDate == '' || appointmentDate == '' || slot == undefined || customerEmail == '' || customerName == '' || customerContact == '' || customerAddress == '') {
                        swal({
                            title: "Warning!",
                            text: "Please complete the required fields!",
                            type: "error"
                        });
                        return;
                    }

                    swal({
                        title: "Continue?",
                        text: "Do you want to continue your appointment?",
                        type: "question",
                        showCancelButton: true,
                        confirmButtonColor: "#5cb85c",
                        cancelButtonColor: "#d9534f",
                        confirmButtonText: 'Confirm',
                        confirmButtonClass: "btn"
                    }).then((result) => {
                        if (result.value) {
                            // Get the form element by its ID
                            var form = document.getElementById("NewAppointmentForm");

                            // Submit the form
                            form.submit();
                        }
                    }); // end swal
                });
            </script>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var AppointmentMessage = "@ViewBag.AppointmentMessage";
        if (AppointmentMessage != "") {
            swal({
                title: "Success!",
                text: "Your appointment has been set! Please wait for Casa-Emelita to contact you.",
                type: "success"
            }).then(okay => {
                if (okay) {
                    
                }
            });
        }

        var currentOrders = @Html.Raw(Model.Orders.Count());
        document.getElementById("NumberOfOrders").innerHTML = currentOrders;
        if (currentOrders > 0) {
            document.getElementById("NumberOfOrders").style.display = "block";
        }
    });
</script>